@font-face {
  font-family: "iconfont"; /* Project id 4995506 */
  src: url('iconfont.woff2?t=1754727478445') format('woff2'),
       url('iconfont.woff?t=1754727478445') format('woff'),
       url('iconfont.ttf?t=1754727478445') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e624";
}

